## 1. Web Scraping

Modify the scripts we used in class to make a program to download both tables present in the  wikipedia page on the Anscombe's Quartet (https://en.wikipedia.org/wiki/Anscombe%27s_quartet). Each table should be saved in its own csv file. **Note:** Your file for the first table should contain the column names, the file for the second table does not need the column names.

In [5]:
url = 'https://en.wikipedia.org/wiki/Anscombe%27s_quartet'

## 2. Pandas and Stats

The Iris dataset is one of the most famous datasets in statistics. Read about it in wikipedia: https://en.wikipedia.org/wiki/Iris_flower_data_set.

Download the dataset from the table in the wikipedia page using beatifulsoup, create a pandas dataframe containing the dataset (including column names). **Note: ** The first column of the table contains only the order of the points in the dataset, it should become the index of your data frame.

In [6]:
import requests
import pandas as pd
page = requests.get(url)
print(page)

<Response [200]>

In [7]:
data = page.text

In [8]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(data, 'html5lib')

for table in soup.find_all("table"):
    print(table)

<table class="wikitable">
<tbody><tr>
<th>Property
</th>
<th>Value
</th>
<th>Accuracy
</th></tr>
<tr>
<td><a href="/wiki/Mean" title="Mean">Mean</a> of <i>x</i>
</td>
<td>9
</td>
<td>exact
</td></tr>
<tr>
<td>Sample <a href="/wiki/Variance" title="Variance">variance</a> of <i>x</i>  :  <i>s</i><span style="display:inline-block;margin-bottom:-0.3em;vertical-align:-0.4em;line-height:1.2em;font-size:80%;text-align:left"><sup style="font-size:inherit;line-height:inherit;vertical-align:baseline">2</sup><br/><sub style="font-size:inherit;line-height:inherit;vertical-align:baseline"><i>x</i></sub></span>
</td>
<td>11
</td>
<td>exact
</td></tr>
<tr>
<td>Mean of <i>y</i>
</td>
<td>7.50
</td>
<td>to 2 decimal places
</td></tr>
<tr>
<td>Sample variance of <i>y</i>  :  <i>s</i><span style="display:inline-block;margin-bottom:-0.3em;vertical-align:-0.4em;line-height:1.2em;font-size:80%;text-align:left"><sup style="font-size:inherit;line-height:inherit;vertical-align:baseline">2</sup><br/><sub style="font-size:inherit;line-height:inherit;vertical-align:baseline"><i>y</i></sub></span>
</td>
<td>4.125
</td>
<td>±0.003
</td></tr>
<tr>
<td><a href="/wiki/Correlation" title="Correlation">Correlation</a> between <i>x</i> and <i>y</i>
</td>
<td>0.816
</td>
<td>to 3 decimal places
</td></tr>
<tr>
<td><a href="/wiki/Linear_regression" title="Linear regression">Linear regression</a> line
</td>
<td><i>y</i> = 3.00 + 0.500<i>x</i>
</td>
<td>to 2 and 3 decimal places, respectively
</td></tr>
<tr>
<td><a href="/wiki/Coefficient_of_determination" title="Coefficient of determination">Coefficient of determination</a> of the linear regression  :  <span class="mwe-math-element"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;"><math alttext="{\displaystyle R^{2}}" xmlns="http://www.w3.org/1998/Math/MathML">
  <semantics>
    <mrow class="MJX-TeXAtom-ORD">
      <mstyle displaystyle="true" scriptlevel="0">
        <msup>
          <mi>R</mi>
          <mrow class="MJX-TeXAtom-ORD">
            <mn>2</mn>
          </mrow>
        </msup>
      </mstyle>
    </mrow>
    <annotation encoding="application/x-tex">{\displaystyle R^{2}}</annotation>
  </semantics>
</math></span><img alt="R^{2}" aria-hidden="true" class="mwe-math-fallback-image-inline" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/5ce07e278be3e058a6303de8359f8b4a4288264a" style="vertical-align: -0.338ex; width:2.818ex; height:2.676ex;"/></span>
</td>
<td>0.67
</td>
<td>to 2 decimal places
</td></tr></tbody></table>
<table border="1" class="wikitable" style="text-align: center; margin-left:auto; margin-right:auto;">
<caption>Anscombe's quartet
</caption>
<tbody><tr>
<th colspan="2">I
</th>
<th colspan="2">II
</th>
<th colspan="2">III
</th>
<th colspan="2">IV
</th></tr>
<tr>
<td><i>x</i>
</td>
<td><i>y</i>
</td>
<td><i>x</i>
</td>
<td><i>y</i>
</td>
<td><i>x</i>
</td>
<td><i>y</i>
</td>
<td><i>x</i>
</td>
<td><i>y</i>
</td></tr>
<tr>
<td>10.0</td>
<td>8.04</td>
<td>10.0</td>
<td>9.14</td>
<td>10.0</td>
<td>7.46</td>
<td>8.0</td>
<td>6.58
</td></tr>
<tr>
<td>8.0</td>
<td>6.95</td>
<td>8.0</td>
<td>8.14</td>
<td>8.0</td>
<td>6.77</td>
<td>8.0</td>
<td>5.76
</td></tr>
<tr>
<td>13.0</td>
<td>7.58</td>
<td>13.0</td>
<td>8.74</td>
<td>13.0</td>
<td>12.74</td>
<td>8.0</td>
<td>7.71
</td></tr>
<tr>
<td>9.0</td>
<td>8.81</td>
<td>9.0</td>
<td>8.77</td>
<td>9.0</td>
<td>7.11</td>
<td>8.0</td>
<td>8.84
</td></tr>
<tr>
<td>11.0</td>
<td>8.33</td>
<td>11.0</td>
<td>9.26</td>
<td>11.0</td>
<td>7.81</td>
<td>8.0</td>
<td>8.47
</td></tr>
<tr>
<td>14.0</td>
<td>9.96</td>
<td>14.0</td>
<td>8.10</td>
<td>14.0</td>
<td>8.84</td>
<td>8.0</td>
<td>7.04
</td></tr>
<tr>
<td>6.0</td>
<td>7.24</td>
<td>6.0</td>
<td>6.13</td>
<td>6.0</td>
<td>6.08</td>
<td>8.0</td>
<td>5.25
</td></tr>
<tr>
<td>4.0</td>
<td>4.26</td>
<td>4.0</td>
<td>3.10</td>
<td>4.0</td>
<td>5.39</td>
<td>19.0</td>
<td>12.50
</td></tr>
<tr>
<td>12.0</td>
<td>10.84</td>
<td>12.0</td>
<td>9.13</td>
<td>12.0</td>
<td>8.15</td>
<td>8.0</td>
<td>5.56
</td></tr>
<tr>
<td>7.0</td>
<td>4.82</td>
<td>7.0</td>
<td>7.26</td>
<td>7.0</td>
<td>6.42</td>
<td>8.0</td>
<td>7.91
</td></tr>
<tr>
<td>5.0</td>
<td>5.68</td>
<td>5.0</td>
<td>4.74</td>
<td>5.0</td>
<td>5.73</td>
<td>8.0</td>
<td>6.89
</td></tr></tbody></table>

In [9]:
#using panadas only

In [46]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Iris_flower_data_set')

In [47]:
print(f'Total tables: {len(tables)}')

Total tables: 2

In [50]:
df = pd.read_html('https://en.wikipedia.org/wiki/Iris_flower_data_set') 
df = df[0]
df

,Dataset order,Sepal length,Sepal width,Petal length,Petal width,Species
0,1,5.1,3.5,1.4,0.2,I. setosa
1,2,4.9,3.0,1.4,0.2,I. setosa
2,3,4.7,3.2,1.3,0.2,I. setosa
3,4,4.6,3.1,1.5,0.2,I. setosa
4,5,5.0,3.6,1.4,0.3,I. setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,I. virginica
146,147,6.3,2.5,5.0,1.9,I. virginica
147,148,6.5,3.0,5.2,2.0,I. virginica
148,149,6.2,3.4,5.4,2.3,I. virginica
149,150,5.9,3.0,5.1,1.8,I. virginica

Your dataframe now should have string values in the columns, you need to convert each of the columns that should contain numbers to numeric values (Check the function `pd.to_numeric`).

After converting the columns to numeric use the `desribe()` method to  calculate the average and standard deviation for each variable.

In [52]:
#df = df.apply(pd.to_numeric)
df.describe()

       Dataset order  Sepal length  Sepal width  Petal length  Petal width
count     150.000000    150.000000   150.000000    150.000000   150.000000
mean       75.500000      5.843333     3.057333      3.758000     1.200000
std        43.445368      0.828066     0.435866      1.765298     0.761401
min         1.000000      4.300000     2.000000      1.000000     0.100000
25%        38.250000      5.100000     2.800000      1.600000     0.300000
50%        75.500000      5.800000     3.000000      4.350000     1.300000
75%       112.750000      6.400000     3.300000      5.100000     1.800000
max       150.000000      7.900000     4.400000      6.900000     2.500000

Use the `.groupby()` method to group the data by species and calculate the average and standard deviation for each variable based on the iris species.

In [55]:
grouped_data = df.groupby('Species')
average_data = grouped_data.mean()
std_data = grouped_data.mean()

print("Average data by species:")
print(average_data)

print("\nStandard deviation data by species:")
print(std_data)

Average data by species:
               Dataset order  Sepal length  Sepal width  Petal length  \
Species
I. setosa               25.5         5.006        3.428         1.462
I. versicolor           75.5         5.936        2.770         4.260
I. virginica           125.5         6.588        2.974         5.552

               Petal width
Species
I. setosa            0.248
I. versicolor        1.326
I. virginica         2.026

Standard deviation data by species:
               Dataset order  Sepal length  Sepal width  Petal length  \
Species
I. setosa               25.5         5.006        3.428         1.462
I. versicolor           75.5         5.936        2.770         4.260
I. virginica           125.5         6.588        2.974         5.552

               Petal width
Species
I. setosa            0.248
I. versicolor        1.326
I. virginica         2.026

Make scatter plot showing the covariance of the variables. Check plotly's create_scatterplotmatrix function from the figure_factory. Your graph should look like this: